footer{
    .top-footer{
        background-image: url('../img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px 0;
        ul{
            list-style: none;
            li{
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
    .bottom-footer{
        background-color: #303030;
        padding: 20px 0;
        .btn-container{
            button{
                border: none;
                background-color: #303030;
                border: 1px solid #0182F9;
                padding: 12px 16px;
                color: #fff;
            }
        }
        .social-container{
            .follow{
                color: #0182F9;
                font-weight: 900;
            }
        }
    }
}
