.ms-home{
    background-color: #1C1C1C;
    padding: 40px 0;
    span{
        color: aliceblue;
        font-size: 30px;
        a{
            text-decoration: none;
            color: inherit;
            &:hover{
                color: #0182F9;
            }
        }
    }
}
